---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await getCollection("posts");
const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())].sort((a, b) => a.localeCompare(b, undefined, { sensitivity: 'base' }));
const pageTitle = "Aro Andriamaro | Tous les tags";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Tous les tags</h1>
  <ul class="flex flex-wrap gap-2 not-prose">
    {
      tags.map((tag) => (
        <li class="badge badge-primary badge-ghost">
          <a href={`/tags/${tag}`}>#{tag}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
