---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Aro Andriamaro | Home">
  <h1 class="-mb-1">Aro Andriamaro</h1>
  <small>Software Developer</small>

  <p>
    Howdy, welcome on my blog. Aro here. I am a Software Developer based in
    Lyon, France.
  </p>
</BaseLayout>
