---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import PostCard from "../components/PostCard.astro";
const allPosts = await getCollection("posts");
---

<BaseLayout pageTitle="Aro Andriamaro | Blog">
  <h1>Blog</h1>
  <div class="flex flex-col not-prose gap-4">
    {
      [...allPosts]
        .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
        .map((post) => <PostCard post={post} />)
    }
  </div>
</BaseLayout>
