---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Aro Andriamaro | Home">
  <h1 class="-mb-1">Aro Andriamaro</h1>
  <small>Software Developer</small>

  <p>
    Howdy, welcome on my blog. Aro here. I am a Software Developer based in
    Lyon, France.
  </p>

  <h2>Blog</h2>
  <p>I write some <a href="/blog/">articles about Web Dev</a></p>

  <h2>SaaS</h2>
  <p>
    I am building a <a href="https://github.com/notAro14/frei-rss"
      >feed reader app</a
    >
  </p>
</BaseLayout>
