---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostHogLayout from "../layouts/PostHogLayout.astro";
---

<PostHogLayout>
  <BaseLayout pageTitle="Aro Andriamaro | Home">
    <h1 class="-mb-1">Aro Andriamaro</h1>
    <small>Software Developer</small>

    <p>Hey ya, Aro here. I am a Software Developer based in Lyon, France.</p>

    <h2>Blog</h2>
    <p>
      I write some <a href="/blog/">articles about Web Dev and other stuff</a>
    </p>

    <h2>SaaS</h2>
    <p>
      I am building a <a href="https://freirss.aroandriamaro.com/"
        >feed reader app</a
      >
    </p>
  </BaseLayout>
</PostHogLayout>
