---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Aro Andriamaro | Home">
  <section>
    <h1>Hi, I&apos;m Aro.</h1>
    <p>
      I am a <em>Software Developer</em> based in <em>Lyon, France</em>. I write
      some
      <a class="link link-primary" href="/blog/">articles about Web Dev</a> and other
      stuff
    </p>

    <p>
      I also like building things. I am making a <a
        class="link link-primary"
        href="https://freirss.aroandriamaro.com/"
        >all-in-one platform for reading</a
      >
      things on the internet 🤓📚
    </p>
  </section>
</BaseLayout>
