---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Aro Andriamaro">
  <section>
    <h1>Salut, moi c&apos;est Aro.</h1>
    <p>
      Je suis <em>développeur web</em> basé à <em>Lyon</em>. J'écris des
      <a class="link link-primary" href="/blog/">articles sur le dev web</a> et d'autres trucs.
    </p>

    <p>
      Je construis en ce moment <a
        class="link link-primary"
        target="_blank"
        rel="noopener noreferrer"
        href="https://app.cosyreader.com">Cosy Reader</a
      >, une plateforme pour lire du contenu sur internet.
    </p>
  </section>
</BaseLayout>
