---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Aro Andriamaro | Referrals">
  <section>
    <h1>Referrals</h1>
    <p>Here are some tools and services I use and recommend.</p>

    <div class="grid gap-6 mt-8 not-prose">
      <div class="card card-sm shadow-md">
        <div class="card-body">
          <h2 class="card-title">Mobbin Pro</h2>
          <p>
            Discover real-world design inspiration. Featuring over 500,000
            screens and 1,000 iOS, Android & Web apps
          </p>
          <div class="card-actions justify-end">
            <a
              href="https://mobbin.com/?referrer_workspace_id=521e92b2-3e91-4a68-ac47-f12c46adbe92"
              target="_blank"
              rel="noopener noreferrer"
              class="btn btn-primary"
            >
              Get 10% Off Mobbin Pro
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
