@import "open-props/style";
@import "open-props/colors-hsl";

:root {
  /* common */
  --font-body: var(--font-sans);
  --font-heading: var(--font-sans);
  --font-code: var(--font-mono);

  --font-sizes-xxs: 0.512rem;
  --font-sizes-xs: 0.64rem;
  --font-sizes-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-sizes-md: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-sizes-lg: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-sizes-xl: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-sizes-2xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-sizes-3xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-sizes-4xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

  --font-weights-thin: 100;
  --font-weights-extra-light: 200;
  --font-weights-light: 300;
  --font-weights-regular: 400;
  --font-weights-medium: 500;
  --font-weights-semi-bold: 600;
  --font-weights-bold: 700;
  --font-weights-extra-bold: 800;
  --font-weights-black: 900;

  --radii-xs: var(--radius-1);
  --radii-sm: var(--radius-2);
  --radii-md: var(--radius-3);
  --radii-lg: var(--radius-4);
  --radii-xl: var(--radius-5);
  --radii-round: var(--radius-6);

  --space-xxxs: var(--size-000);
  --space-xxs: var(--size-00);
  --space-xs: var(--size-1);
  --space-sm: var(--size-2);
  --space-md: var(--size-3);
  --space-lg: var(--size-4);
  --space-xl: var(--size-5);
  --space-2xl: var(--size-6);
  --space-3xl: var(--size-7);
  --space-4xl: var(--size-8);
  --space-5xl: var(--size-9);
  --space-6xl: var(--size-10);
  --space-7xl: var(--size-11);
  --space-8xl: var(--size-12);
  --space-9xl: var(--size-13);
  --space-10xl: var(--size-14);
  --space-11xl: var(--size-15);

  /* light */
  --colors-bg: var(--gray-2);
  --colors-bg-transparent: hsl(var(--gray-2-hsl) / 0.5);
  --colors-text-vibrant-low: var(--pink-7);
  --colors-text-vibrant: var(--pink-12);
  --colors-text-functional-low: var(--gray-7);
  --colors-text-functional: var(--gray-12);
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-bg: var(--gray-9);
    --colors-bg-transparent: hsl(var(--gray-9-hsl) / 0.5);
    --colors-text-vibrant-low: var(--yellow-5);
    --colors-text-vibrant: var(--yellow-0);
    --colors-text-functional-low: var(--gray-5);
    --colors-text-functional: var(--gray-0);
  }
}
