.root {
  backdrop-filter: blur(10px);
  background-color: var(--colors-bg-transparent);
  height: 75px;
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  z-index: 1;

  & > .header-inner {
    margin: 0 auto;
    padding: var(--space-md);
    width: clamp(250px, 100%, 90ch);

    & > .go-to-home {
      text-decoration: none;
      font-weight: var(--font-weights-semi-bold);
      color: var(--colors-text-functional);
    }
  }
}
