---
import Social from "./Social.astro";
---

<style>
  footer {
    display: grid;
    place-items: center;
    padding: 1rem;
  }
  .footer-inner {
    display: flex;
    gap: 1rem;
  }
</style>

<footer>
  <div class="footer-inner">
    <Social platform="github" username="notAro14" />
    <Social platform="linkedin" username="in/aroandria" />
  </div>
</footer>
