---

---

<footer class="flex items-center h-28">
  <div class="flex gap-4">
    <a
      class="link"
      rel="noopener noreferrer"
      target="_blank"
      href="https://bsky.app/profile/aroandriamaro.com">Bluesky</a
    >
    <a
      class="link"
      rel="noopener noreferrer"
      target="_blank"
      href="https://twitter.com/aroandriamaro">X</a
    >
    <a
      rel="noopener noreferrer"
      target="_blank"
      class="link"
      href="https://www.github.com/notAro14">Github</a
    >
    <a
      class="link"
      rel="noopener noreferrer"
      target="_blank"
      href="https://www.linkedin.com/in/aroandria">LinkedIn</a
    >
    <a class="link" href="/rss.xml">RSS</a>
  </div>
</footer>
