---

---

<footer class="flex items-center h-28">
  <div class="flex gap-4">
    <a class="link" href="https://www.github.com/notAro14">Github</a>
    <a class="link" href="https://www.linkedin.com/in/aroandria">Linkedin</a>
    <a class="link" href="/rss.xml">RSS</a>
  </div>
</footer>
