---

---

<footer class="grid place-items-center h-20">
  <div class="flex gap-4">
    <a href="https://www.github.com/notAro14">Github</a>
    <a href="https://www.linkedin.com/in/aroandria">Linkedin</a>
    <a href="/rss.xml">RSS</a>
  </div>
</footer>
