---

---

<style>
  .aro {
    color: var(--tw-prose-headings);
    font-weight: 800;
    font-size: 2.25em;
    line-height: 1.1;
    margin: 0;
  }
</style>

<div class="flex gap-6 items-center">
  <div class="not-prose flex gap-4 items-center">
    <div class="avatar">
      <div
        class="rounded-full w-8 ring ring-primary ring-offset-base-100 ring-offset-2"
      >
        <img src="/avatar.png" />
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <p class="aro">Aro Andriamaro</p>
    <small>Software Developer</small>
  </div>
</div>

<nav class="py-4 not-prose gap-4 flex">
  <a class="link link-primary link-hover" href="/">Home</a>
  <a class="link link-primary link-hover" href="/blog/">Blog</a>
  <a class="link link-primary link-hover" href="/tags/">Tags</a>
  <!--
        <a href="/about/">About</a>
      -->
</nav>
