---

---

<div class="navbar not-prose mb-4">
  <div class="flex-1 flex gap-4 items-center">
    <div class="avatar">
      <div
        class="rounded-full w-10 ring ring-primary ring-offset-base-100 ring-offset-2"
      >
        <img src="/avatar.png" />
      </div>
    </div>
    <a href="/" class="text-lg">aroandriamaro</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal not-prose">
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
    </ul>
  </div>
</div>
