---

---

<div class="navbar not-prose mb-4">
  <div class="flex-1 flex gap-4 items-center">
    <a href="/">
      <div class="avatar">
        <div
          class="rounded-full w-8 ring ring-primary ring-offset-base-100 ring-offset-2"
        >
          <img src="/avatar.png" />
        </div>
      </div>
    </a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal not-prose">
      <li>
        <a href="/blog/">Blog</a>
      </li>

      <li>
        <a href="/tags/">Tags</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
    </ul>
  </div>
</div>
