---

---

<div class="navbar not-prose">
  <div class="flex-1">
    <a href="/" class="text-xl">aroandriamaro</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal not-prose">
      <li>
        <a href="/blog/">Blog</a>
      </li>
      <li>
        <a href="/about/">About</a>
      </li>
    </ul>
  </div>
</div>
