---
import { format } from "date-fns";
const { post } = Astro.props;
---

<article class="flex flex-col sm:flex-row sm:gap-4">
  <time datetime={post.data.pubDate}>
    {format(new Date(post.data.pubDate), "dd MMM, yyyy")}
  </time>
  <h2>
    <a class="link link-primary" href={`/posts/${post.slug}`}
      >{post.data.title}</a
    >
  </h2>
</article>
