---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Aro Andriamaro's Blog"
      href={`${Astro.site}rss.xml`}
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main class="p-4 max-w-prose mx-auto prose dark:prose-invert">
      <Navigation />
      <slot />
      <Footer />
    </main>
  </body>
</html>
